.movie-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
  
  /* Adicionado para ser o contexto do posicionamento da nota */
  position: relative; 
}

.movie-card:hover {
  transform: scale(1.05);
}

/* ---  NOTA --- */
.rating-badge {
  position: absolute; 
  top: 10px;          
  left: 10px;         
  z-index: 2;         
  
  background-color: rgba(255, 193, 7, 0.9); 
  color: #121212; 
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}



.movie-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 300px;
}

.movie-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.movie-info h3 {
  font-size: 1.2em;
  margin: 0 0 10px 0;
  flex-grow: 1;
  color: #ffffff;
}

.movie-info p {
  color: #aaa;
  margin: 0;
}